@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  z-index: 1;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 1px solid white;
  border-radius: 20px;
  margin: 10vh 10vh;

  //margin: 0px 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  ); //backdrop-filter: blur(2em);*/
}

.bigApp {
  position: relative;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10vh 10vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.header2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 90px;
  font-size: 30px;
  text-shadow: #2f3c4b 0px 10px 10px;
}

.time-select,
.sound-picker,
.player-container {
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.time-display {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
  text-shadow: #2f3c4b 0px 10px 10px;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  z-index: -1;
}

.time-select button,
.sound-picker button {
  width: 30%;
  height: 10%;
  background: none;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  color: white;
}

.play {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

button:hover,
.play:hover {
  color: white;
  -webkit-box-shadow: 0px 0px 30px;
          box-shadow: 0px 0px 30px;
  border: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

button:active,
.play:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 20px;
  padding: 30px;
}

.sound-picker button:nth-child(1) {
  background: #4972a1;
}

.sound-picker button:nth-child(2) {
  background: #a14f49;
}

.sound-picker button img {
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-shadow: #2f3c4b 0px 10px 10px;
}
/*# sourceMappingURL=meditation.css.map */