body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#63dbeb));
    background: linear-gradient(to right top, #65dfc9, #63dbeb);
    display: -webkit-box;
    display: -ms-flexbox;
}