* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#63dbeb));
  background: linear-gradient(to right top, #65dfc9, #63dbeb);
  height: 100vh;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 4em;
  color: white;
  letter-spacing: 4px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.33);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5em;
  color: rgba(0, 0, 0, 0.705);
}

.main .all-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right bottom, white, rgba(255, 255, 255, 0.2));
  height: 18em;
  padding: 1em 10em 0em 1.5em;
  padding-right: 10em;
  padding-left: 2em;
  margin-top: 2em;
}

.main .all-tasks h2 {
  margin-bottom: 0.5em;
}

.main .all-tasks ul {
  line-height: 1.5em;
  padding-left: 1em;
  margin-top: 0.5em;
  list-style-type: circle;
  font-size: 0.9em;
}

.main .all-tasks form {
  margin-top: 3em;
}

.main .all-tasks li {
  cursor: pointer;
}

.main .all-tasks li:hover {
  opacity: 0.8;
}

.main .todo-list {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.main .todo-list .todo-header {
  padding-bottom: 3em;
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(131, 140, 150, 0.481)), to(rgba(131, 140, 150, 0.056)));
  background: linear-gradient(to left top, rgba(131, 140, 150, 0.481), rgba(131, 140, 150, 0.056));
  padding: 2em 13em 1.5em 1.5em;
  position: relative;
}

.main .todo-list .list-title {
  margin-right: 1.5em;
  font-size: 2em;
  display: inline;
}

.main .todo-list .task-count {
  font-size: 0.8em;
  display: inline;
  position: absolute;
  top: 45%;
  left: 70%;
}

.main .todo-list .tasks {
  padding-bottom: 0.6em;
}

.main .todo-list .tasks .round-checkbox {
  -webkit-transform: scale 1;
          transform: scale 1;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.75em;
  margin-top: 0.3em;
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.main .todo-list .tasks [type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.main .todo-list .tasks .task:hover .round-checkbox {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  color: rgba(58, 188, 202, 0.494);
}

.main .todo-list .tasks [type="checkbox"]:checked + label .round-checkbox {
  background: rgba(58, 188, 202, 0.494);
  border: rgba(58, 188, 202, 0.494);
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
}

.main .todo-list .tasks [type="checkbox"]:checked + label {
  opacity: 0.4;
}

.main .todo-list .tasks .task label::after {
  content: "";
  position: absolute;
  left: 2em;
  right: 0;
  bottom: 55%;
  height: 2px;
  background: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.main .todo-list .tasks [type="checkbox"]:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main .todo-list .tasks label {
  padding-left: 0.5em;
  position: relative;
  padding-bottom: 0.3em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main .todo-list .tasks .task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 60%;
  height: 2px;
  width: 23.2em;
  background: rgba(0, 0, 0, 0.055);
}

.main .todo-list .tasks .task {
  padding-bottom: 2em;
  position: relative;
}

.main .todo-list .todo-body {
  padding: 2em 13em 2em 1em;
}

/*----------------*/
.active {
  font-weight: 700;
}

.new {
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
  font-size: inherit;
  outline: none;
  -webkit-transition: border-bottom 0.1s ease-in;
  transition: border-bottom 0.1s ease-in;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new::-webkit-input-placeholder {
  color: rgba(75, 70, 70, 0.398);
}

.new:-ms-input-placeholder {
  color: rgba(75, 70, 70, 0.398);
}

.new::-ms-input-placeholder {
  color: rgba(75, 70, 70, 0.398);
}

.new::placeholder {
  color: rgba(75, 70, 70, 0.398);
}

.new:focus {
  border-bottom: 2px solid black;
}

.new:focus::-webkit-input-placeholder {
  opacity: 0.4;
}

.new:focus:-ms-input-placeholder {
  opacity: 0.4;
}

.new:focus::-ms-input-placeholder {
  opacity: 0.4;
}

.new:focus::placeholder {
  opacity: 0.4;
}

.new.list {
  font-size: 0.8em;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1rem;
}

.btn.list, .btn.task {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 0.5em;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.btn.task:hover {
  opacity: 0.6;
}

.btn.list:hover {
  color: white;
}

.todo-body {
  position: relative;
}

.delete-stuff {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 1%;
  top: 105%;
}

.delete-stuff .btn {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.05em;
}

.delete-stuff .btn:hover {
  color: rgba(255, 0, 0, 0.446);
}

/* glass design */
/*# sourceMappingURL=toDoStyle.css.map */