*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);

  display: grid;
  grid:
    "header header header header" auto
    "...... lists  active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;

   background: linear-gradient(to right top, #65dfc9, #63dbeb);
    height:100vh;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: 3.5em;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  margin: 0.2em 0 0.5em;

  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.33);
  max-height:100px;

  position: relative;

}

.all-tasks {
  grid-area: lists;
  position:absolute; 
  top:22%;
  left:22%;
  color: rgba(0, 0, 0, 0.645);

  background: linear-gradient(to right bottom, 
    rgba(255,255,255, 1), rgba(255,255,255,0.2));

    padding: 0em 3em 3em 1em;

    font-size:0.9em;

    border-radius: 20px;
 

}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

form {
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in;
}

.btn.create:hover {
  opacity: 0.7;
}

.btn.delete {
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.btn.delete:hover {

    color: hsla(0, 100%, 50%, 0.7);
  
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;

  transition: border-bottom 150ms ease-in;
  order: 2;
}

.new::placeholder {
  opacity: 0.4;
}


.new:focus {
  border-bottom-width: 3px;
}

.new:focus::placeholder {
  opacity: 0.15;
}

.new.list {
  font-size: 1.1rem;
}

.new.task {
  margin-bottom: 0;
}

.active-list {
  font-weight: 700;
}

.todo-list {
  --spacer: 2rem;

  grid-area: active;
  background: var(--clr-light);
  color: var(--clr-dark);
  position:absolute; 

  background: linear-gradient(to right bottom, 
  rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
  
  left: 55%;
   top: 20%;

   border-radius: 20px;
   
  
}

.todo-header {
  padding: var(--spacer);
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(to left top, 
  rgba(131, 140, 150, 0.481),  rgba(131, 140, 150, 0.056));

 
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  


}

.list-title {
  margin: 0 1em 0 0;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
}

.new-task-creator .create {
  color: var(--clr-primary);
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: flex-inline;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.2);
  color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  left: 1.5em;
  top: 50%;
  height: 3px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: var(--clr-light);

  color: rgba(102, 93, 93, 0.741);
  letter-spacing:0.05em;
}

:root {
  --clr-primary: rgb(54, 112, 199);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
}
